{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <hr class="mb-6">

    <h5 class="col-md-12 order-md-1"> MIT data shows that almost 15% of patients die within their first 24 hours in the ICU, in part because doctors use an inaccurate health evaluation metric. PredMed is saving lives by applying machine learning to more accurately predict patient survival probability, in an accessible and easy-to-use web app for medical professionals around the world.
    </h5>
{% endblock content %}