{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <hr class="mb-6">

    <h5 class="col-md-12 order-md-1"> MIT data shows that almost 15% of patients die within their first 24 hours in the ICU, in part because doctors use an inaccurate health evaluation metric. PredMed is saving lives by applying machine learning to more accurately predict patient survival probability, in an accessible and easy-to-use web app for medical professionals around the world.
    </h5>
    <p class="mb-10"> </p>
    <h5 class="col-md-12 order-md-1"> The metrics that doctors use to predict mortality in the ICU are often proprietary and expensive, not generalizable to diverse populations, and not as accurate as possible. We'd like to use machine learning to more accurately predict mortality rate and make it easily accessible to doctors.
    </h5>
    <p class="mb-10"> </p>
    <h5 class="col-md-12 order-md-1"> We've built a web app that allows doctors to input information about a patient, such as maximum heart rate and diastolic blood pressure, and predicts the probability that the patient survives their first 24 hours in the ICU.
    </h5>


{% endblock content %}