{% extends "layout.html" %}
{% block content %}
    <div class="col-md-12 order-md-1">
        <h2 class="mb-3">Patient Information</h2>
        <form class="needs-validation" action="/predict" method="POST">
         <!-- <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="" value="" >
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="" value="" >
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div> -->
  
            <!-- <div class="row">
                <div class="col-md-2 mb-3">
                    <label for="age">Age</label>
                    <input type="number" min="0" step="1" class="form-control" name="age" id="age" placeholder="" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="height">Height</label>
                    <input type="number" min="0.01" step="0.01" class="form-control" name="height" id="height" placeholder="inches" >
                </div>
                <div class="col-md-3 mb-3">
                    <label for="weight">Weight</label>
                    <input type="number" min="0.01" step="0.01" class="form-control" name="weight" id="weight" placeholder="inches" >
                </div>
                <div class="col-md-4 mb-3">
                    <label for="gender">Gender</label>
                    <select class="custom-select d-block w-100" id="gender" >
                        <option placeholder="">Choose...</option>
                        <option>Female</option>
                        <option>Male</option>
                        <option>Other</option>
                    </select>
                </div>
            </div> -->

            {% for key in stats_dict.keys() %}
            <hr class="mb-4">
                <h5 class="mb-3">{{key}}</h5>
                {% for val in stats_dict[key] %}
                <div class="custom-control custom-checkbox">
                    <div class="form-group row">
                        <label for="same-address" class="col-sm-6 col-form-label">{{ val }}</label>
                        <div class="col-sm-6">
                            <input type="number" min="0.01" step="0.01" class="form-control" name={{val}} id={{val}}>
                            <p class="mb-6"></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
            <hr class="mb-6">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Predict Fate</button>
        </form>
    </div>

{% endblock content %}